.header{
    width: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top: 144px;
    h2{
        width: 128px;
        font-size: 26px;
        font-weight: 700;
        line-height: 38px;
    }
    .mode{
        display: flex;
        width: 78px;
        height: 20px;
        p{ 
            font-weight: 700;
            font-size: 13px;
            width: 42px;
            letter-spacing: 2.5px;
            margin-right: 16px;
            text-align: end;
        }
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .dark-mode-color{
            color: #697C9A;
        }
    }
}

@media (max-width: 750px) {
    .header{
        width: 90vw;
        margin-top: 31px;
    }
}