.search{
    height: 69px;
    border-radius: 15px;
    width: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px auto 0 auto;
    
    .left-side{
        display: flex;
        align-items: center;
        img{
            width: 24px;
            height: 24px;
            margin: 0 20px;
        }
        input{
            width: 254px;
            height: 25px;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            border: none;
            font-weight: 400;
            outline: none;
        }
    }
    .right-side{
        display: flex;
        align-items: center;
        .result-error{
            color: #F74646;
            height: 22px;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            margin-right: 20px;
        }
        button{
            width: 106px;
            height: 50px;
            color: #fff;
            border-radius: 10px;
            border: none;
            margin-right: 10px;
            cursor: pointer;
        }
    }  
}

@media (max-width: 750px) {
    .search{
        width: 90vw;

        .left-side{

            img{
                width: 20px;
                height: 20px;
                margin: 0 8px;
            }
            input{
                width: 50vw;
                font-size: 12px;
            }
        }
        .right-side{
            .result-error{
                display: none;
            }
            button{
                width: 70px;
                height: 32px;
                margin-right: 7px;
                font-size: 12px;
                border-radius: 6px;
            }
        }
    }
}