*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Mono;
}
.app{
    height: 100vh;
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

.dark-mode{
    background-color: #141D2F;
    color: #fff ;
    .search{
        background-color: #1E2A47;
        input{
            background-color: #1E2A47;
            color: #fff;
            &::placeholder{
                color: #fff;
            }
        }
        button{
            background-color: #0079FF;
        }
    }
    .body{
        background-color: #1E2A47;
        box-shadow: none;
        .info{
            color: #ffffff;
        }
        .bio{
            color: white;
        }
        .followers{
            background-color: #141D2F;
            color: #ffffff;
        }
        .footer{
            color: #ffffff
        }
    }
}

.light-mode{
    background-color:#f6f8ff ;
    color: #000;
    .search{
        background-color: #FEFEFE;
        color:#4B6A9B ;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        button{
            background-color: #0079FF;
        }
    }
    .body{
        background-color: #FEFEFE;
        .info{
            p{
                color: #697C9A;
            }
        }
        .bio{
            color: #4B6A9B;
        }
        .followers{
            background-color: #F6F8FF;
            .title{
                color: #4B6A9B;
            }
            .count{
                color: #2B3442;
            }
        }
        .footer{
            color: #ffffff
        }
    }
}
